body{
  overflow: hidden;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("molol.jpg") center / cover no-repeat fixed;
  font: 1em/1.618 Inter, sans-serif;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  height: 200px;
  padding: 35px;
  font-size: 15px;
  color: #4e4e4e;
  border: 1px solid rgb(rgb(147, 20, 20), rgb(99, 215, 99), rgb(227, 123, 189));
  border-radius: 20px;
  background-color: rgba(219, 216, 216, 0.63);
  box-shadow : 0 0 10px;
  backdrop-filter: blur(10px);
}

.button{
  display: flex;
  margin-top: 10px;
}

input[type="submit"] {
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px;
  border: none;
 width: 100px;
}

#no {
  background-color: rgb(254, 65, 65);
  color: white;
}

#yes{
  background-color: rgba(49, 224, 19, 0.822);
  color: white;
}

#reply{
  color: rgb(207, 79, 160);
}
